<h1>WwcwCore#about</h1>
<p>Find me in app/views/wwcw_core/about.html.erb</p>

<p>
	<%= link_to "Home", :action => 'index' %>
	<%= link_to "Contact", :action => 'contact' %>
	<%= link_to "Search", :action => 'search' %>
</p>