<h1>WwcwCore#contact</h1>
<p>Find me in app/views/wwcw_core/contact.html.erb</p>

<p>
	<%= link_to "Home", :action => 'index' %>
	<%= link_to "About", :action => 'about' %>
	<%= link_to "Search", :action => 'search' %>
</p>